@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

*{
    margin:  0;
	padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    background: #1e5174;
}

.header{
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--dt-background-color-container);
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

h2{
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: var(--primary-color);
}

h3{
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 65%;
    width: 60%;
    margin: auto;
    position: fixed;
    top: 22%;
    left: 20%;
}

th, td{
    padding: 10px 0px 10px 25px;
    color: var(--primary-color);
}

th{
    border-bottom: solid 1px var(--dt-border-color);
    background: var(--highlight-color);
    font-weight: bolder;
    text-align: left;
}

td{
    font-size: 16px;
}

tbody tr:nth-child(even){
    background-color: var(--dt-even-row-collor);
}

#contenido{
    width: 40%;
    box-shadow: 0px 16px 16px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}

#central-content{
    height: 85%;
    width: 100%;
    background: var(--dt-background-color-container);
}

#tableH-F{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dt-background-color-container);
}

.header-table{
    height: 15%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px var(--dt-border-color);
}

table, form{
    border-collapse: collapse;
    border-radius: 0px 0px 10px 10px;
}

form{
    padding: 30px 40px 30px 40px;
}

label{
    font-size: 16px;
    color: #f0f0f0;
}

select, input{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-even-row-collor);
    width: 100%;
    color: #f0f0f0;
    border-radius: 5px;
    padding: 7px;
    margin-top: 2%;
    margin-bottom: 7%;
    border: 1px solid var(--dt-status-offline-color);
}

select:hover, input:hover{
    border: 1px solid var(--highlight-color);
    transition:all .3s ease;
    cursor: pointer;
}

.form-actions button{
    font-family: 'Noto Sans', sans-serif;
    background: var(--dt-background-color-container);
    border: 2px solid var(--highlight-color);
    font-size: 16px;
    color: var(--highlight-color);
    border-radius: 5px;
    width: 100%;
    margin-top: 7%;
    padding: 4%;
}

.form-actions button:hover{
    background: var(--highlight-color);
    color: var(--dt-text-color-button);
    transition: all .3s ease;
    cursor: pointer;
}

.help-inline{
    color: rgb(255, 100, 100);
    font-size: 10px;
    position: absolute;
}

#help-inline-1{
    top: 23%;
    left: 77%;
}

#help-inline-2{
    top: 42%;
    left: 77%;
}

#help-inline-3{
    top: 60%;
    left: 79%;
}

:root{
    --primary-color: #f0f0f0;
    --secondary-color: rgb(61,68,72);
    --highlight-color: #3282b8;

    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;

    --dt-padding: 10px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #2a3338;
    --dt-border-color:var(--secondary-color);
    --dt-bg-color:var(--highlight-color);
    --dt-text-color:var(--primary-color);
    --dt-bg-active-button:var(--highlight-color);
    --dt-text-color-button:var(--primary-color);
    --dt-text-color-active-button:var(--primary-color);
    --dt-hover-cell-color:var(--highlight-color);
    --dt-even-row-collor:var(--secondary-color);
    --dt-focus-color:var(--highlight-color);
    --dt-input-background-color:var(--secondary-color);
    --dt-input-color:var(--primary-color);
}